<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>  <!--предотвращение подделки межсайтовых запросов-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>  <!--включает таблицы стилей на соответствующих страницах-->
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
</head>
<body>
  <%= yield %>  <!--вставка содержимого каждой страницы в шаблон-->
</body>
</html>