<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>  <!--предотвращение подделки межсайтовых запросов-->
  <%= render 'layouts/stylesheets' %>   <!--вставка частичного шаблона-->
</head>
<body>
  <div class="container">
     <header>
       <%= render 'layouts/header' %> <!--вставка частичного шаблона-->
     </header>
     <section class="round">
       <%= yield %>  <!--вставка содержимого каждой страницы в шаблон-->
     </section>
    <%= render 'layouts/footer' %>  <!--вставка частичного шаблона-->
  </div>
</body>
</html>